@charset "utf-8";
/* CSS Document */

#newtop{
width:1103px;
margin:10px auto 5px; 
}
#newtop input{
	background:none;
	width:159px;
	height:27px;
	text-indent:10px;
	background-color:#d7d7d7;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	padding:0px;
	margin:0px;
	color:#666;
	font-size:14px;
	line-height:27px;
	
	margin-top:1px;
	+margin-top:0px;
}



.tns{ width:1103px;  margin:0 auto; padding-top:8px; }
.tw{ width:819px; background:url(../images/ind_34.jpg) repeat-x; float:left; height:57px; position:relative; z-index:1}
.tw .psz1s{width:118px; height:57px; float:right; background:url(../images/ind_39.jpg) no-repeat left;font-family:"微软雅黑"; font-size:18px; line-height:57px; color:#fff; margin-left:16px;  cursor:pointer; font-weight:bold;}
.wxys{background:url(../images/ind_56.jpg) no-repeat 20px 50%; padding-right:25px; padding-left:5px;  float:left; line-height:57px; color:#fff; font-family:"微软雅黑"; text-align:left; text-indent:60px; font-weight:bold;}
.wis{width:86px; height:49px; background:url(../images/ind_46.jpg); float:left; margin-top:4px; margin-right:15px;}


.m2tas{ color:#676767; background:url(../images/m_06.jpg) repeat-x 0 50%; margin:10px 0; height:30px;}
.mcts{width:1103px; margin:0 auto; padding-bottom:20px; }
.mcts .m2ta{margin:24px 0 22px 0;}
.boxins{ float:left;width:239px; margin-right:48px;padding-bottom:5px; background:#fff; margin-bottom:25px;}
.indxlogin{background:url(../images/ind_34.jpg) repeat-x; float:left; width:819px; }
.indxloginl{ background:url(../images/ind_33.jpg) no-repeat left;}
.indxloginr{ background:url(../images/loginbj_05.jpg) no-repeat right;}
.logininfo{ height:57px; line-height:57px; font-size:18px; color:#767676; font-weight:bold; font-family:"微软雅黑";}
.logininfo a{ text-decoration:none; color:#FFF;}
.logininfo a:hover{ text-decoration:underline}

.newrw1{width:1103px; margin:0 auto;}
.newtl2{width:1103px; margin:0 auto; padding-top:20px;}
.newktbi{width:1103px; margin:0 auto; color:#fff; text-align:left; line-height:24px; font-size:12px; padding:30px 0 20px 0; position:relative;}
.newktbi h1{margin:0; padding:0; font-size:24px;font-family:"微软雅黑"; font-weight:normal; padding-bottom:20px;}
.newktbi a{color:#fff; text-decoration:none;}
.newrwnr{float:left; width:340px; padding-top:15px; margin-left:35px; margin-bottom:20px;}
.newrwnr ul li{ background:none; padding-left:0; color:#646464; line-height:24px;}
.newtw{ background:url(../images/ind_34.jpg) repeat-x; float:left; height:57px; position:relative; z-index:1;width:252px; margin-right:32px; cursor:pointer}
.newboxins{ float:left;width:239px; margin-right:48px;padding-bottom:5px; background:#fff; margin-bottom:40px;}
.mt span{ font-weight:bold;}
.jgflnum{width:193px; ; margin:0 auto; line-height:30px; font-size:12px; background:url(../images/jgfl_07.jpg) no-repeat center left; padding-left:20px;}
.jgflta1{ background:#fff; margin:0 auto; margin-left:400px; padding-left:5px; _margin-left:225px; }
.jgflta1{background:url(../images/jgfll_03.jpg) no-repeat 0 50% #fff; margin-left:10px;}
.m2ta h3{float:left;font-family:"微软雅黑"; font-size:18px; line-height:24px; color:#646464; margin:0; padding:0; font-weight:normal; padding-left:15px;}
.mtas{font-family:"微软雅黑"; font-size:14px; padding:30px 0 0px 280px;}
.appxz{ width:1057px; margin:0 auto; }
.appzxyyl{ float:left; background:url(../images/appxzs_03.png) no-repeat center; width:265px; height:336px; margin-top:-30px; z-index:100px; position:relative;}
.appzxyyls{ float:left; background:url(../images/appxz_09.jpg) no-repeat center; width:265px; height:336px; z-index:100px; position:relative;}
.appzxyym{ float:left; font-size:14px; font-family:'宋体'; text-align:left; line-height:26px; margin-left:45px; width:503px; }
.appzxyym h1{ margin:0; padding:0; font-size:60px; color:#676767; font-family:"微软雅黑"; line-height:110px; font-weight:normal;}
.xyyybt{ background:url(../images/appxz_05.jpg) no-repeat center; width:220px; height:79px; color:#ffffff; display:block; line-height:79px; text-decoration:none; font-size:24px; font-weight:bold; padding-left:45px;font-family:"微软雅黑"}
.appzxyyr{ float:left; width:225px; text-align:left; font-size:12px; color:#6d6d6d; line-height:20px; margin-left:15px; _margin-left:7px; margin-top:140px;}
.smwzs{ float:left; margin-right:10px; width:60px;}
.appdkxz{ width:337px; float:left; text-align:left; font-size:14px; color:#4f4f4f; line-height:24px; margin-right:15px;}
.appdkxzl{ background:url(../images/appxz_16.jpg) no-repeat top; width:118px; height:106px; float:left;}
.appdkxzlt{ background:url(../images/appxz_19.jpg) no-repeat top; width:118px; height:106px; float:left;}
.appdkxzlth{ background:url(../images/appxz_13.jpg) no-repeat top center; width:118px; height:106px; float:left;}
.appdkxzr{ width:200px; margin-left:15px; float:left;}
.appdkxzr h2{ margin:0; padding:0; font-size:27px; color:#676767; font-family:"微软雅黑"; line-height:40px; font-weight:normal;}
.yyxzvt{ background:url(../images/appxz_25.jpg) no-repeat center; width:165px; height:53px; display:block; text-decoration:none; color:#ffffff; font-family:"微软雅黑"; font-size:18px; font-weight:bold; line-height:53px; padding-left:30px;}
.appxzyy{ padding-bottom:50px;}
.appdk{ padding-top:30px;}
/*.bkttx{ background:#00C;}*/
.bkttxlist{ width:60px;  margin:0 7px;  float:left;}
.rz3tstx{font-size:12px; line-height:24px; padding:10px 15px; background:#fff; text-align:left; border: solid 1px #040000; margin:5px;  height:453px; overflow-y:auto;}
.bkttxlistimg{ height:59px; background:#afafaf;}
.bkttxlistgz{ background:#858585; height:18px; margin:5px 0 18px 0;; color:#ffffff; text-align:center; line-height:18px; cursor:pointer;}
.bttcs{ margin:0; padding:0; color:#FFF; line-height:50px; height:50px; font-size:14px; text-align:left; padding-left:20px;}
.newbttcs{ margin:0; padding:0; color:#FFF; line-height:50px; height:50px; font-size:14px; text-align:left; padding-left:20px; float:left;}
.zygl{ float:right; width:115px;}
.zygl a{ text-decoration:none; color:#ffffff; font-size:12px; line-height:50px;}
.twbt{ background:url(../images/zygl_03.jpg) no-repeat center left;  float:left; padding-left:18px; margin-right:10px;}
.sxbt{ background:url(../images/zygl_05.jpg) no-repeat center left; float:left; padding-left:20px;}



.newzh{padding:16px 0 18px 0; color:#fff; font-size:12px; width:258px; margin:0 auto;}
.newzh a{text-decoration:none; color:#fff; float:right;}
.newdlc{ height:19px; background:url(../images/ts.png) no-repeat 0 45%; color:#c0c0c0; font-size:14px; line-height:24px; text-align:left; text-indent:25px; margin:0 auto; width:258px;}
.newtn{ width:1103px;  margin:0 auto; padding-top:8px;}
.newrw2{width:1003px; margin:0 auto;}
.newrw2 .ktrwb{margin-left:12px;}
.newtw{ background:url(../images/ind_34.jpg) repeat-x; float:left; height:57px; position:relative; z-index:1;width:251px; margin-right:32px; cursor:pointer }
.newtw .psz1{width:118px; height:57px; float:left; background:url(../images/ind_39.jpg) no-repeat left;font-family:"微软雅黑"; font-size:18px; line-height:57px; color:#fff; margin-left:10px;  cursor:pointer; font-weight:bold;}

.gztk{ background:url(../images/gzk_03.png) no-repeat; width:296px; height:186px; position:absolute; top:55px; left:-80px; z-index:999; display:none; cursor:default;}
.gztkinfo{ padding:10px; padding-top:25px;}
.gztkinfol{ float:left; width:80px;}
.gztkinfolimg{ height:80px; background:#FFF; border:solid 1px #a0a0a0; padding:3px; margin-bottom:10px;}
.gztkinfor{ float:left; width:180px; margin-left:10px;}
.gztkinfor a{ float:right; color:#ffffff; font-size:12px; line-height:24px; padding:0 10px; background:#e63d0f; text-decoration:none; text-decoration:none; margin-right:10px;}
.gztkrname{ text-align:left; color:#0068b7; font-size:14px; font-weight:bold; line-height:24px; padding:13px 0 7px 0;}
.gztkdt{ background:url(../images/gzbj_03.jpg) no-repeat center left; font-size:12px; line-height:24px; color:#4f4f4f; text-align:left; padding-left:20px;}
.gzdel{ width:25px; height:25px; cursor:pointer; float:right; margin-right:8px;}
.rwnrs{float:left;  padding-top:15px; width:286px; margin-left:25px; margin-bottom:20px;}
.rwnrs ul li{ background:none; padding-left:0; color:#646464; line-height:24px;}
.newjd{float:left; margin:0 10px; height:35px; border:1px solid #bcbcbc; background:url(../images/a_33.png) no-repeat 5px 45% #fff; width:441px;}
.newjd span{float:left;margin-left:25px;color:#a6a6a6;line-height:35px;}
.csjg{ background:#f0f0f0;}
.csjg h3{ margin:0; padding:0; font-size:14px; color:#8e8e8e; line-height:24px;font-family:"微软雅黑"; margin-top:10px;}
.csjg{font-size:12px; text-align:left; line-height:24px; color:#4f4f4f; padding:0 25px;}
.cxcsbt{ width:113px; height:36px; margin:0 auto; background:url(../images/cc_11s.jpg) repeat-x; cursor:pointer; color:#ffffff; text-align:center; line-height:36px; letter-spacing:1px; font-weight:bold; font-size:12px;}
.xxrwzyxz{ float:left; width:210px; margin-right:15px; margin-top:5px;}
.xxrwzyimg{ float:left; width:67px; margin-right:10px;}
.xxrwzyxzms{ float:left; width:127px; font-size:12px; line-height:22px; color:#8e8e8e; text-align:left;}
.xxrwzyxzms a{ text-align:center; text-decoration:none; color:#ffffff; height:22px; line-height:22px; display:block; background:#93b6fb; width:38px;}
.ktxxzy{ background:#f0f0f0; height:100px; padding-left:50px; margin:5px 0 10px 0;}
/*讲座*/
.xxrwjz{border:1px solid #bcbcbc; padding:5px; margin:20px 0;}
.xxrwjl{ float:left; width:225px; margin-right:15px;}
.xxrwjlpj{ margin-bottom:3px; height:30px; background:url(../images/xxrw_jzs_03.jpg) no-repeat 7px 7px #e2e2e2; text-align:left; color:#4f4f4f; line-height:30px; padding-left:30px; font-size:12px;}
.xxrwjlzjr{ margin-bottom:3px; height:30px; background:url(../images/sj_lecture.png) no-repeat 7px 7px #e2e2e2; text-align:left; color:#4f4f4f; line-height:30px; padding-left:30px; font-size:12px;}
.xxrwjlzjr{ margin-bottom:0px;}
.pjrs{ float:left; width:70px;}
.pjxj{ float:right; width:114px; padding-right:5px; cursor:pointer; position:relative;}
.xxrwjr{ float:left; width:468px; color:#4f4f4f; font-size:12px; text-align:left; line-height:24px; ;}
.xxrwjr h1{ margin:0; padding:0; text-align:left; font-size:14px; line-height:30px;}
.jzfb{ float:left;}
.jzzxgk,.jzzxgks{
	background:url(../images/xxrw_jz_10.jpg) no-repeat center left;
	width:178px;
	height:43px;
	cursor:pointer;
	float:right;
	color:#ffffff;
	line-height:40px;
	padding-left:15px;
	z-index:2;
	position:absolute;
	right:-6px;
}
.jzzxgk span,.jzzxgks span{ padding-left:40px; font-weight:bold; font-size:14px;}
.jzzxgks{background:url(../images/xxrw_jz_12.jpg) no-repeat center left;}
.jzfbinfo{ margin-top:15px; height:48px;  position:relative;}

.jxpj{
	width: 155px;	;
	border: 1px solid #bcbcbc;
	position: absolute;
	top: 35px;
	left: -50px; background:#fff;
	z-index:99;
	padding:5px;
	}

.jxpj input{text-align:left;width:148px; margin:5px auto; height:80px; color:#b2b2b2;}
.jxpj textarea{text-align:left;width:148px; margin:0 auto; height:80px; color:#b2b2b2;  overflow:auto;}
.jxpja{width:87px; height:33px; background:url(../images/a_46.png); text-align:center; color:#fff;font-size:16px;font-family:"微软雅黑"; line-height:33px; margin:10px auto; cursor:pointer;}

/*题库*/
.tkcxdtbt{
	background:url(../images/xxrw_tk_03.jpg) no-repeat center;
	width:187px;
	height:43px;
	text-align:center;
	color:#ffffff;
	line-height:43px;
	font-size:14px;
	font-weight:bold;
	position:absolute;
	left: 533px;
	_left: 508px;
	top: 28px;
	cursor:pointer;
}
.newcsjg h3{ margin:0; padding:0; font-size:14px; color:#8e8e8e; line-height:24px;font-family:"微软雅黑"; margin-top:10px;}
.newcsjg{font-size:12px; text-align:left; line-height:24px; color:#4f4f4f; padding:1px 25px 20px 25px; background:#f0f0f0;  position:relative; margin-top:10px;}
.wzjc{ font-weight:bold;}
.wzbs{ color:#a13737; font-weight:bold;}
.ksdtbt{ width:234px; height:51px; margin:0 auto; background:url(../images/cc_11.jpg) repeat-x; cursor:pointer; color:#ffffff; text-align:center; line-height:51px; letter-spacing:1px; font-weight:bold; font-size:14px;}


/*kt.html认证*/
.rztk{ font-size:12px; background:url(../images/xxkja_03.png) no-repeat center; text-align:center; width:135px; height:36px; line-height:36px; position:absolute; left:57px; top:-5px; display:none;}
.ktsmrz{ position:relative;}
.cls{text-align:right;  position:absolute; right:5px; top:5px;}
#star {width:180px; height:18px; margin-top:7px; margin-left:20px;}
#star ul{height:18px;line-height:18px;margin:0 0 0 0;}
#star li{float:left;width:23px;cursor:pointer;text-indent:-9999px;background:url(../images/star_s.png) no-repeat -1px 1px;list-style:none;}
#star li.on{background-position:-1px -27px;}
.mrinfo{ width:412px; margin:0 auto; padding-top:50px; color:#cacaca; font-size:24px; font-family:'微软雅黑'; line-height:34px; text-align:left;}
.mrkc{background:url(../images/grkj_mr_03.jpg) no-repeat left; padding-left:100px; height:80px;}
.mrzs{background:url(../images/grkj_mr_07.jpg) no-repeat 8px 0;padding-left:100px; height:80px;}
.mrxx{background:url(../images/grkj_mr_11.jpg) no-repeat 15px 10px; padding-left:100px; height:80px;}
.mrkt{background:url(../images/grkj_mr_15.jpg) no-repeat 25px 10px; padding-left:100px; height:80px;}

/*密码修改页面*/
.xgpasscwts{ width:150px; height:30px; line-height:30px; background:url(../images/aqzh_03.jpg) no-repeat 0px 6px; float:left; text-align:left; padding-left:25px; font-size:12px; color:#6e6e6e;}
.xgpassmmqd{ width:220px; line-height:20px; float:left; text-align:left; background:url(../images/aqzh_06.jpg) no-repeat 0px 10px;padding-left:25px; font-size:12px; color:#6e6e6e;}

/*发信息收件人列表*/
.sjrinfo{ margin-bottom:10px; margin-left:75px;}
.sjrinfolist{ float:left; margin-top:7px;font-family:"Arial";text-align:left;}
.closebtn{ padding:0 10px; color:#F00;}

/*许愿池*/
.twa{ width:1103px; background:url(../images/ind_34.jpg) repeat-x; float:left; height:57px; position:relative; z-index:1}
.twa .psz1s{width:118px; height:57px; float:right; background:url(../images/ind_39.jpg) no-repeat left;font-family:"微软雅黑"; font-size:18px; line-height:57px; color:#fff; margin-left:16px;  cursor:pointer; font-weight:bold;}

/*评价*/
.nopj{ width:128px; float:right; font-size:14px; text-align:left; height:35px; line-height:35px;color:#646464;}

/*联系我们*/
.lxwm{ width:1103px; margin:0 auto; margin-top:20px; padding-bottom:20px;min-height:600px; height:auto;}
.lxwmleft{ width:251px; float:left; border: solid 1px #bcbcbc;}
.lxwmright{ float:left; width:810px; border: solid 1px #bcbcbc; margin-left:36px; text-align:left; color:#646464; line-height:36px; font-size:14px; letter-spacing:1px;}
.lxwmright p{ margin:0; padding:20px; padding-top:0;}
.lxwmright h1{ margin:0; padding:0; background:url(../images/rw.jpg) no-repeat left center; font-size:14px; line-height:21px; padding-left:20px; margin-top:15px; margin-bottom:5px;}
.lxwmleft ul{ margin:0; padding:0;}
.lxwmleft ul li{list-style:none;color:#646464; margin-bottom:1px;}
.lxwmleft ul li a{ text-decoration:none; color:#646464; font-size:14px; line-height:48px; text-align:left; padding-left:20px; display:block;}

.lxwmleft ul li a:hover{ color:#ffffff !important; background:#5b5b5b !important;}
/*我的证书*/
.wdzs{ margin:30px 0 30px 40px; text-align:left;}
.wdzslist{ padding:15px 40px; margin-bottom:15px;}
.wdzslistl{float:left; width:600px; margin-right:15px;font-size:14px;}
.	wdzslistr{float:left; font-size:12px; color:#4f4f4f; line-height:20px; width:150px;}
.wdzsimg{float:left; margin-right:10px;}
.wdzslistl a{ float:left; font-size:12px; text-decoration:none; color:#6a6a6a; margin-right:10px; line-height:17px; margin-top:15px;}
.wdzslistl a:hover{ color:#0068b7;}
.dzzsget{background:url(../images/wdzs_03.png) no-repeat left; padding-left:17px;}
.dzzsfs{background:url(../images/wdzs_05.png) no-repeat left; padding-left:21px;}
.pxjg{float:left; width:36px; margin-right:10px;}
.pxjg img{ border: solid 1px #b7b7b7;}

.mykc{ float:left;height:57px; line-height:57px; font-size:18px; color:#767676; font-weight:bold; font-family:"微软雅黑";}
.bjk{ padding-bottom:10px; margin-bottom:10px;}
.dloading{background:url(../images/loaderc.gif) no-repeat center scroll;height:100px;}

/*笔记*/
.bgbww{height:300px; overflow-y:auto;}
.bgbw{border-bottom:1px dashed #bcbcbc; padding-bottom:5px; margin-top:10px;}
.bjk{ padding-bottom:10px; margin-bottom:10px;}
.jbrw{ color:#5E5E5E; line-height:24px; font-size:14px; font-family:'宋体'; font-weight:normal;}

/*证书弹出窗体*/
.rzim{ padding-top:15px; position:relative;}
.previous{width: 42px;height: 42px;background: url(../images/ars_03.png);position: absolute;left: 10%;z-index: 1111;top: 170px;}
.next{background: url(../images/ars_05.png);width: 42px;height: 42px;position: absolute;left: 85%;top: 170px;z-index: 1111;}
.zssm{ width:705px; margin:0 auto;}
.zssm strong{ font-size:13px;}

/*返回顶部*/
.top_stick{ background:url(../images/tops.png) no-repeat center; display:block; width:36px; height:36px; text-decoration:none;}

 /*客户端*/
 .appimg{ background:url(../images/appxz_02.jpg) no-repeat center; height:314px;}
 .bjnull{ text-align:center; line-height:260px;}