@charset "utf-8";
 #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }
	a.slidesjs-play,a.slidesjs-playing,a.slidesjs-stop{display:none; visibility:hidden}

   

    a:hover.slidesjs-next {
      
    }

    a.slidesjs-previous {width:42px; height:42px;background:url(../images/ar_03.png); position:absolute;left:50%; margin-left:-542px; z-index:1111; top:170px;
      
    }

    a:hover.slidesjs-previous {
    
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
	  display:none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width:100%) {
      .container {
        width: 100%
      }
    }
.f1{background:#4c3d6d;}
.f2{background:#0068b7;}
.f3{background:#93434c;}
 a.slidesjs-next {background:url(../images/ar_05.png);
       width:42px; height:42px;
       position:absolute; left:50%; margin-left:500px; top:170px; z-index:1111;
    }
	
/*弹出层插件样式开始*/
.floatBoxBg{display:none;width:100%;height:100%;background:#000;position:fixed !important;/*ie7 ff*/position:absolute;top:0;left:0;filter:alpha(opacity=0);opacity:0; z-index:3333;}
.floatBox{position:fixed !important;/*ie7 ff*/position:absolute;top:0;left:0; display:none; z-index:3334;}
.floatBox .title{padding:7px 10px 0;color:#fff;background-attachment: scroll;background:#fff;background-repeat: repeat-x;background-position: 0px 0px; cursor:move; }
.floatBox .title h4{float:left;padding:0;margin:0;font-size:14px;line-height:16px; font-weight:bold; display:inline;display:none}
.floatBox .title span{float:right;cursor:pointer;display:inline; width:24px; height:24px;margin-right:10px; margin-top:5px;}
.floatBox .title span img{cursor:pointer;}
.floatBox .content{padding:0;overflow-x:hidden;overflow-y: auto;}
.closeDialog{ font-size:20px; font-weight:bold; color:#000; background:url(../images/t_05.jpg); margin-right:5px;}
.closeDialog:hover{ font-size:20px; font-weight:bold; color:#fff; position: relative fixed absolute}
.hl{background:url(../images/t_03.jpg); }
.ttr{background:#fff;padding-bottom:25px;}
.ttl{font-family:"微软雅黑"; font-size:18px; color:#646464; padding:20px 0; }
#xyr{width:400px; height:34px; border:1px solid #b7b7b7; margin-top:10px; font-size:14px; color:#9c9c9c; line-height:34px; padding-left:10px;}
.xytj{border-bottom:1px dashed #b7b7b7; padding:10px 0 15px 0;}
.xytja{width:79px; height:26px; margin:0 auto; background:url(../images/t_10.jpg); color:#fff;font-family:"微软雅黑"; font-size:14px; line-height:26px; cursor:pointer;}
.ks{background:url(../images/t_14.jpg); width:139px; height:36px;font-family:"微软雅黑"; font-size:18px; line-height:36px; color:#fff;margin:0 auto; margin-top:20px; cursor:pointer;}
.ttr2{margin-top:10px; background:#fff; padding-bottom:20px;}
.t2ta{ padding:24px 24px 10px 24px;}
.t2ta h1{float:left; ;font-family:"微软雅黑"; font-size:18px; line-height:36px; color:#646464; margin:0; padding:0; font-weight:normal;}
.t2ta span{cursor:pointer; float:right; background:url(../images/t_18.jpg); width:62px; height:23px; line-height:23px; font-size:12px; color:#fff; margin-top:5px;}
.yyk{width:631px; height:111px; border:1px solid #b7b7b7; margin:0 auto; text-align:left; font-size:12px; line-height:24px;position:relative; margin-bottom:20px;}
.yyi{border:1px solid #b7b7b7; float:left; margin:11px 10px 0 11px; }
.yyt{padding-top:5px; color:#4f4f4f; }
.tj{background:url(../images/t_29.jpg); width:71px; height:47px; padding-left:50px; position:absolute; right:325px; bottom:10px; color:#fff;}
.or{color:#ffc258; font-family:Arial; font-weight:bold;}
.qr{position:absolute; right:10px; top:24px; background:url(../images/t_25.jpg) no-repeat right; padding-right:50px;}
.s36{font-size:36px;}
.yed{
	position: absolute;
	background: url(../images/t_32.jpg);
	width: 169px;
	height: 43px;
	right: 7px;
	bottom: 10px;
	cursor: pointer;
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 43px;
	color: #fff;
	text-align: center;
}
#blk6{width:681px; position:absolute; top:-100px; z-index:5444; left:50%; margin-left:140px;}
.cl{text-align:right;  position:absolute; right:5px; top:5px;}
.cls{text-align:right;  position:absolute; right:5px; top:5px;}
/*弹出层插件样式结束*/ 
